extends layout

block content
    h1 Tell Us How We're Doing!

    hr
    form(method='POST',action='/comment')
        label(for='comment') Post a Comment: 
        input(type='text', name='comment',id='comment', maxlength='500', required) 
        //todo: required here or in database?
        button(type='submit',class='combtn') Post
    hr

    h2 Comments

    if todos.length === 0
        p No comments yet.
    else
        ol
            each val in todos
                li 
                    span= val.task

        if totalPages > 1
            .pagination
                if currentPage > 1
                    a(href=`/comments?page=${currentPage - 1}`) ← Prev
                span Page #{currentPage} of #{totalPages}
                if currentPage < totalPages
                    a(href=`/comments?page=${currentPage + 1}`) Next →
      
    footer
        p Other pages:
        ul
            a(href='/') Landing Page
            a(href='/about') About Us
            a(href='/menu') Menu